{% extends 'base.html.twig' %}

{% block title %}RepairCommentary index{% endblock %}

{% block body %}
    <h1>RepairCommentary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Repair_date</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repair_commentary in repair_commentaries %}
            <tr>
                <td>{{ repair_commentary.id }}</td>
                <td>{{ repair_commentary.repairDate ? repair_commentary.repairDate|date('Y-m-d') : '' }}</td>
                <td>{{ repair_commentary.comment }}</td>
                <td>
                    <a href="{{ path('repair_commentary_show', {'id': repair_commentary.id}) }}">show</a>
                    <a href="{{ path('repair_commentary_edit', {'id': repair_commentary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('repair_commentary_new') }}">Create new</a>
{% endblock %}
