{% extends 'base.html.twig' %}

{% block title %}Riser Road{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }

    .liste-jumpingTilt {
        border: solid red 2px;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>Liste Echasse</h2>
    {% for jumpingTilt in jumpingTilts %}
    {# dump(jumpingTilt) #}
    <div class="liste-jumpingTilt">
        <p><strong>Référence : </strong> {{ jumpingTilt.getReference() }} </p>
        <p></p><strong>Dureté des  lames : </strong> {{ jumpingTilt.getWeight() }} </p>
        <p><strong>Etat : </strong> : {{ jumpingTilt.getState().getState() }} </p>
        <p><strong>Category  : </strong> : {{ jumpingTilt.getCategory().getCategory() }} </p>
    </div>
    {% endfor %}
</div>
{% endblock %}