{% extends 'base.html.twig' %}

{% block title %}JumpingTilt{% endblock %}

{% block body %}
    <h1>JumpingTilt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jumping_tilt.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ jumping_tilt.reference }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ jumping_tilt.weight }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ jumping_tilt.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jumping_tilt_index') }}">back to list</a>

    <a href="{{ path('jumping_tilt_edit', {'id': jumping_tilt.id}) }}">edit</a>

    {{ include('jumping_tilt/_delete_form.html.twig') }}
{% endblock %}
